*/.DS_Store
*/.vscode
*/.idea
*/.vs
*/.cache
*/.pytest_cache
*/*.zip
.venv
agents/plots/data_agents.csv
agents/plots/data_model.csv
agents/kowloon/__pycache__/agent.cpython-314.pyc
agents/kowloon/__pycache__/model.cpython-314.pyc
